{% extends "layout.html" %}

{% block content %}
<form>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="example-date-input" class="col-0 col-form-label">Fecha</label>
            <div class="col-0">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="inputState" class="col-0 col-form-label">Tipo de Gasto</label>
            <div class="col-0">
                <select id="inputState" class="form-control">
                    <option selected>Elegir...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="txtAreaDescripcion">Descripcion</label>
            <textarea class="form-control" id="txtAreaDescripcion" rows="3"></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ok</button>
    <button type="submit" class="btn btn-primary">Cancelar</button>
</form>

{% endblock %}
