{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Tipo de Gasto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Valor($)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>10/01/2020</td>
        <td>Luz</td>
        <td>Pago a Edelap</td>
        <td>2000</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>11/01/2020</td>
        <td>Gas</td>
        <td>Pago Camuzzi</td>
        <td>5000</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>15/02/2020</td>
        <td>Seguro auto</td>
        <td>Pago La Segunda</td>
        <td>3000</td>
    </tr>
    </tbody>
</table>

{% endblock %}